/* BeatMeter v2: skrifttyper, hostet lokalt (ingen tredjepart).
   Inter (variabel): Copyright 2016 The Inter Project Authors, SIL Open Font License 1.1.
   Instrument Serif: Copyright 2022 The Instrument Serif Project Authors, SIL Open Font License 1.1. */
@font-face{font-family:'Inter';font-style:normal;font-weight:100 900;font-display:swap;src:url(../fonts/Inter-Variable.woff2) format('woff2')}
@font-face{font-family:'Instrument Serif';font-style:normal;font-weight:400;font-display:swap;src:url(../fonts/instrument-serif-latin-400-normal.woff2) format('woff2')}
@font-face{font-family:'Instrument Serif';font-style:italic;font-weight:400;font-display:swap;src:url(../fonts/instrument-serif-latin-400-italic.woff2) format('woff2')}
